*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}
.main{
    box-shadow: inset 10px 10px 100px 50px black;
    height: 90vh;
    background-image: url("background\ image.jpg");
    background-size: max(1200px 100vw);
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;

}
nav{
    width: 79vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}
nav span{
    opacity: 0.9;
}
#divsvg svg{
    color: rgb(250, 43, 43);
    margin-top: 20px;
    width: 148px;
    height: 50px;
}
nav button,select{
    margin-top: 20px;
    height: 35px;
    border-radius: 5px;
    color: white;
    font-size: 1.05rem;
    font-weight: 500;
}
nav select{
    width: 120px;
    background-color: rgba(36, 36, 36, 0.752);
}
nav select option{
    background-color: white;
    color: black;
}
nav button{
    margin-left: 5px;
    width: 80px;
    border: none;
    background-color: rgba(255, 3, 3, 0.918);
}
nav button:hover{
    background-color: rgb(181, 9, 9);
    cursor: pointer;
}
.main .box1{
    height: 100%;
    width: 100%;
    opacity: 0.54;
    background-color: black;
    position: absolute;
}
.box2{
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: white;
    z-index:2;
    gap:10px;
    /* top: -150px; */
    font-size: 1.01rem;
    font-weight: 500;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.box2 :first-child{
    font-size:3.2rem;
    font-weight: bolder;
}
.box2 :nth-child(2){
    font-size:3.2rem;
    font-weight: bolder;
}
.box2 :nth-child(3){
    margin: 20px;
    font-size: 1.2rem;
    font-weight: bolder;
}
.box2 :last-child{
    margin: 5px;
    font-size: 1.01rem;
    font-weight: bolder;
    display: inline;
}
.box2 :last-child :first-child{
    padding: 20px;
    width: 350px;
    font-size: 1.01rem;
    font-weight: 500;
    height: 50px;
    border-radius: 5px;
    border: 1px solod white;
    color: white;
    background-color: rgba(44, 44, 44, 0.77);
}
.box2 :last-child :first-child:hover{
    border: 1px solid white;
}
.box2 :last-child :last-child{
    text-align: center;
    border:1px  white;
    border-radius: 5px;
    background-color: rgba(238, 19, 19, 0.937);
    padding: 15px 15px;
    text-decoration: none;
    font-weight: 520;
    font-size: 20px;
}
.box2 :last-child :last-child:hover{
    border: none;
    background-color: rgba(157, 14, 14, 0.868);
}
a{
    color: white;
}
.image1{
    height: 100px;
    width: 100vw;
    background-image: url("Screenshot\ 2025-08-25\ 003954.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
    box-shadow: inset 10px 10px 50px 10px;    
}
.trending{
    height: 400px;
    width: 100%;
    background-color:black;
    padding-left: 110px;
    padding-right: 100px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    font-weight: 500;
    margin-bottom: 50px;
}
.trending div{
    margin-left: 20px;
}
.trending ul{
    display: FLEX;
    justify-content: center;
    align-items: center;    
}
.trending li{
    border-radius: 10px;
    list-style-type: none;
    height: 300px;
    width:250px;
    margin-right: 10px;
    background-color: rgb(163, 9, 9);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
}
.list1{
    background-image: url("image1.png");    
}
.trendingimg:hover{
    border-radius: 10px;
    cursor: pointer;
    z-index: 10;
    transition: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    transform: scale(1.2);
}
.list2{
    background-image: url("image2.png");
}
.list3{
    background-image: url("image3.png");
}
.list4{
    background-image: url("image4.png");
}
.list5{
    background-image: url("image5.png");
}
.reason{
    margin-top: 80px;
    margin-bottom: 60px;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    height: 410px;
    background-color:black;
}
.reason :first-child{
    margin-left: 40px;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.reason ul{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
 }
 .reason ul li{
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    list-style-type: none;
    margin-right: 20px;
    height: 300px;
    width: 300px;
    background-color: rgb(36, 23, 71);
    box-shadow: inset -5px -5px 100px 5px rgba(212, 45, 140, 0.355);
    transition: all 0.5s ease-in-out;
    overflow: hidden;
 }
 .reason ul li:hover{
    box-shadow: 5px 5px 20px 1px rgba(255, 255, 255, 0.589), inset -5px -5px 100px 5px rgba(212, 45, 140, 0.355);
 }
 .reason li :first-child{
    margin-left: 0px;
    margin-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
 }
 .reason li :last-child{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
 }
 .avi{
    margin-top: 100px;
    height: 600px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    div{
        margin-top: 90px;
        display: flex;
        justify-content: space-between;
        ul{
            border: hidden;
            height: 200px;
            width: 550px;
            border-radius: 20px;
            background-color: rgb(253, 253, 253);
            list-style-type: none;
            display: flex;
            li{
                height: 100%;
                width: 50%;
                border-radius: 20px;
            }
        }
    }
    ul :first-child{
        background-color: rgb(253, 253, 253);
        display: flex;
        align-items: center;
        padding-left: 20px;

        span{
        height: 40px;
        width: 100px;
        color: rgb(250, 250, 250);
        cursor: pointer;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-radius: 10px;
        text-align: center;
        transition: all0.5s ease-in-out;
        background-color: rgba(177, 2, 2, 0.874);
    }
       span:hover{
        background-color: rgba(156, 11, 11, 0.875);
       }   
    }
    ul .slide{
        background-color: rgb(160, 4, 4);
        transition: all 1s ease-in-out;
        transform: translatex(-100%);
        background-size: cover;
        background-repeat: no-repeat;
    }
    ul .slide:hover{
        transform: translatex(0%);
    }
    .slide1{
        background-image: url("https://wallpapercave.com/wp/wp8637980.jpg");
    }
    .slide2{
        background-image: url("https://images.hdqwalls.com/download/squid-game-3b-1400x1050.jpg");
    }
    .slide3{
        background-image: url("https://wallpapercave.com/wp/wp7967209.jpg");
    }
    .slide4{
        background-image: url("https://wallpapercave.com/wp/wp8638038.png");
    }
    
 }
 .video{
    height: 500px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 video{
    transition: all 1s ease-in-out;
    border-radius: 20px;
    height: 300px;
    width: 500px;
    background-color: rgb(251, 249, 249);
    box-shadow: 1px 1px 60px 20px rgb(138, 12, 12) ,inset 1px 1px 50px 50px rgb(138, 12, 12);

 }
 video:hover{
    box-shadow: 1px 1px 60px 20px rgb(138, 53, 53) ,inset 1px 1px 50px 50px rgb(138, 12, 12);
 }
 .question{
    height: 600px;
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    color: white;
    margin-top: 80px;
    margin-bottom: 10px;
    p{
        margin-bottom: 20px;
    }
    div{
        margin-top: 10px;
        list-style-type: none;
        height: 80px;
        width: 100%;
        padding-left: 20px;
        padding-top: 25px;
        overflow: hidden;
        transition: all 0.4s ease-in-out;
        background-color: rgb(46, 46, 46);
        p{
            margin-top: 25px;
        }
    }
    div:hover{
        background-color: rgb(68, 68, 68);
        height: 200px;
    }
 }
 .backtotop{
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 100px;
    a{
    text-decoration: none;
    }
    .loginagain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        p{
            color: white;
            font-size: 1.02rem;
            margin-bottom: 10px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        .emailstart{
            display: flex;
        input{
            height: 50px;
            width:450px;
            border-radius: 10px;
            margin-right: 20px;
            padding-left: 20px;
            color: white;
            background-color: rgba(60, 59, 59, 0.221);
        }
        input:hover{
            border: 1px solid white;
        }
        .getstartagain{
            height: 50px;
            width: 190px;
            border-radius: 10px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 1.4rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            background-color: rgba(198, 8, 8, 0.929);
        }
        .getstartagain:hover{
            background-color: rgb(146, 8, 8);
        }
    }
    }
 }
 .back{
    height: 100px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color:white;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 1s ease-in-out;
 }
 .back:hover{
    background-color: rgb(32, 31, 31);
 }
footer{
    height: 500px;
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 100px;
    color: rgb(209, 204, 204);
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    p{
        margin-bottom: 40px;
    }
    .footer1{
        display: flex;
        justify-content: center;
        align-items: center;
        div{
            height: 200px;
            width: 200px;
            margin-right: auto;
            border-radius: 20px;
            a{
                display: block;
                margin-bottom: 20px;
            }
        }
    }
    #language{
        width: 100px;
        color: white;
        background-color: rgb(33, 33, 33);
        border-radius: 5px;
        margin-bottom: 40px;
        border: 1px solid white;
        option{
            background-color: white;
            color: black;
        }
    }
}